@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utility/index';
@import './components/index.scss';

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  @apply font-manrope;
}
