html {
  scroll-behavior: smooth;
}

/* width */
html::-webkit-scrollbar {
  width: 6px;
}

/* Track */
html::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 20px;
}

// /* Handle on hover */
// html::-webkit-scrollbar-thumb:hover {
//   background: black;
// }

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
