html {
  scroll-behavior: smooth;
}

/* width */
html::-webkit-scrollbar {
  width: 6px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: rgba(grey, 0.1);
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
}

// /* Handle on hover */
// html::-webkit-scrollbar-thumb:hover {
//   background: black;
// }
